@page "/schopnosti"
@inject IPostavaService PostavaService
@inject IUtokyService UtokyService
@inject NavigationManager NavigationManager
@attribute [Authorize]

@if (postava != null && postavaU != null)
{
    <EditForm Model="postavaU" OnValidSubmit="UpdatePostava">
    <div id="stredny">
        <div id="priehladny"></div>
        <div class="obrazok" style="background-image: url(@postava.Image)"></div>
        <div class="statySchopnosti">
            <h1>SCHOPNOSTI</h1>
            <div class="pouzivaneSchopnosti">
                <img id="fyzImg" src="@fyzUtok.FyzImageUrl" alt="@fyzUtok.NazovFyzUtoku" style="min-width: 60px">
                <img id="magImg" src="@magUtok.MagImageUrl" alt="@magUtok.NazovMagUtoku" style="min-width: 60px">
                <img id="vieImg" src="@vieUtok.VieImageUrl" alt="@vieUtok.NazovVieUtoku" style="min-width: 60px">
            </div>
        </div>
        <div class="rozdelSchopnosti">
            <div class="schopnostiUtokov">
                <h1>Fyziské schopnosti</h1>
                 <div class="schopnostiUtokovRozOkno">
                    <li>
                        <div class="flying">
                            <button @onclick="@DajFlyingkick" style="padding: 0; background: none ;border: none;"><img src="/images/FlyingKick60.png" alt="flyingkick"/></button>
                            <div class="skryteOkno schoSkry">
                                <p1>FlyingKick je fyzická schopnosť na vytvorenie
                                    <p2>kombinácie útokov(50%)
                                        <div class="kick">
                                            <div class="skryteOkno2">
                                                <p3>Kombinácia útokov ti dovolí použiť ďalšiu schopnosť</p3>
                                            </div>
                                        </div>
                                    </p2>
                                </p1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bod">
                            <button @onclick="@DajBodySlam" style="padding: 0; background: none ;border: none;"><img src="/images/BodySlam60.png" alt="bodyslam"/></button>
                            <div class="skryteOkno schoSkry">
                                <p1>BodySlam je fyziská schopnosť pri ktorej hodom o zem
                                    <p2>omráčiš protivníka(20%)
                                        <div class="slam">
                                            <div class="skryteOkno2">
                                                <p3>Omráčenie nedovolí uživateľovi použiť schopnosť</p3>
                                            </div>
                                        </div>
                                    </p2>
                                </p1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gataling">
                            <button @onclick="@DajPunchingGataling" style="padding: 0; background: none ;border: none;"><img src="/images/PunchGataling60.png" alt="punchgataling"/></button>
                            <div class="skryteOkno schoSkry">
                                <p1>PunchGataling je fyzická schopnosť pri ktorej uzivatel
                                    <p2>vrhá päsťami(80%)
                                        <div class="punch">
                                            <div class="skryteOkno2">
                                                <p3>Vrhanať päsťami uživateľ bude dokým bude triafať</p3>
                                            </div>
                                        </div>
                                    </p2>
                                </p1>
                            </div>
                        </div>
                    </li>
               </div>
                <h1>Magické schopnosti</h1>
                <div class="schopnostiUtokovRozOkno">
                    <li>
                        <div class="fire">
                            <button @onclick="@DajFireBall" style="padding: 0; background: none ;border: none;"><img src="/images/fireBall60.png" alt="fireball" /></button>
                            <div class="skryteOkno schoSkry">
                                <p1>FireBall je magická schopnosť ohnivého atribútu
                                    <p2>spôsobuje zapálenie(60%)
                                        <div class="fir">
                                            <div class="skryteOkno2">
                                                <p3>Zapálenie poškodzuje uživateľa dokým horí <br> (10% maxHp protivníka)</p3>
                                            </div>
                                        </div>
                                    </p2>
                                </p1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="frost">
                            <button @onclick="@DajFrostNova" style="padding: 0; background: none ;border: none;"><img src="/images/frostNova60.png" alt="frostnova" /></button>
                            <div class="skryteOkno schoSkry">
                                <p1>FrostNova je magická schopnosť ľadového atribútu
                                    <p2>spôsobuje umrznutie(80%)
                                        <div class="frot">
                                            <div class="skryteOkno2">
                                                <p3>Umrznutie poškodzuje uživateľa dokým mrzne <br> (5% maxHp protivníka)</p3>
                                            </div>
                                        </div>
                                    </p2>
                                </p1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wind">
                            <button @onclick="@DajWindSlash" style="padding: 0; background: none ;border: none;"><img src="/images/windSlash60.png" alt="windslash" /></button>
                            <div class="skryteOkno schoSkry">
                                <p1>WindSlash je magická schopnosť veterného atribútu
                                    <p2>spôsobuje krvácanie(30%)
                                        <div class="win">
                                            <div class="skryteOkno2">
                                                <p3>Krvácanie poškodzuje uživateľa dokým krváca <br> (20% maxHp protivníka)</p3>
                                            </div>
                                        </div>
                                    </p2>
                                </p1>
                            </div>
                        </div>
                    </li>
               </div>
                <h1>Schopnosti viery</h1>
                <div class="schopnostiUtokovRozOkno">
                    <li>
                        <div class="wind">
                            <button @onclick="@DajHeal" style="padding: 0; background: none ;border: none;"><img src="/images/heal60.png" alt="heal" /></button>
                            <div class="skryteOkno schoSkry">
                                <p1>Heal je schopnosť viery pri ktorej sa uživateľ <br>
                                    <p2>vylieči životy
                                        <div class="win">
                                            <div class="skryteOkno2">
                                                <p3>Umožní si obnoviť body života (250% viery)</p3>
                                            </div>
                                        </div>
                                    </p2>
                                </p1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bod">
                            <button @onclick="@DajDefBonus" style="padding: 0; background: none ;border: none;"><img src="/images/defBonus60.png" alt="defbonus" /></button>
                            <div class="skryteOkno schoSkry">
                                <p1>DefenceBonus je schopnosť viery pri ktorej si uživateľ
                                    <p2>zvýši odolnosť
                                        <div class="slam">
                                            <div class="skryteOkno2">
                                                <p>Zvýši odolnosť voči útokom <br> (60% viery)</p>
                                            </div>
                                        </div>
                                    </p2>
                                </p1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="fire">
                            <button @onclick="@DajAttakeBonus" style="padding: 0; background: none ;border: none;"><img src="/images/AttakeBonus60.png" alt="attakebonus" /></button>
                            <div class="skryteOkno schoSkry">
                                <p1>AttakeBonus je schopnosť viery pri ktorej si uživateľ
                                    <p2>zvýši silu
                                        <div class="fir">
                                            <div class="skryteOkno2">
                                                <p3>Zvýši útok uživateľa <br> (50% viery)</p3>
                                            </div>
                                        </div>
                                    </p2>
                                </p1>
                            </div>
                        </div>
                    </li>
               </div>
           </div>
       </div>
    </div>
    </EditForm>
}
@code {
    Fantasia.Shared.Postava? postava = new Fantasia.Shared.Postava();
    PostavaUpdate postavaU = new PostavaUpdate();
    FyzUtoky fyzUtok = new FyzUtoky();
    MagUtoky magUtok = new MagUtoky();
    VieUtoky vieUtok = new VieUtoky();

    protected override async Task OnInitializedAsync()
    {
        postava = await PostavaService.GetPostava();
        fyzUtok = await UtokyService.GetFyzUtok(postava.FyzUtokyId);
        magUtok = await UtokyService.GetMagUtok(postava.MagUtokyId);
        vieUtok = await UtokyService.GetVieUtok(postava.VieUtokyId);
        postavaU.FyzickaSila = postava.FyzickaSila;
        postavaU.MagickaSila = postava.MagickaSila;
        postavaU.Viera = postava.Viera;
        postavaU.Id = postava.Id;
        postavaU.Image = postava.Image;
        postavaU.Stamina = postava.Stamina;
        postavaU.Vitalita = postava.Vitalita;
        postavaU.Stastie = postava.Stastie;
        postavaU.FyzUtokyId = postava.FyzUtokyId;
        postavaU.VieUtokyId = postava.VieUtokyId;
        postavaU.MagUtokyId = postava.MagUtokyId;
        postavaU.VolneStaty = postava.VolneStaty;

    }

    async void UpdatePostava()
    {
        var result = await PostavaService.UpdatePostava(postavaU);
        if (result != null)
        {
            NavigationManager.NavigateTo("/schopnosti");
        }
    }

    void DajFlyingkick()
    {
        postavaU.FyzUtokyId = 1;
        fyzUtok.FyzImageUrl = "/images/FlyingKick60.png";

    }

    void DajBodySlam()
    {
        postavaU.FyzUtokyId = 2;
        fyzUtok.FyzImageUrl = "/images/BodySlam60.png";
    }

    void DajPunchingGataling()
    {
        postavaU.FyzUtokyId = 3;
        fyzUtok.FyzImageUrl = "/images/PunchGataling60.png";
    }

    void DajFireBall()
    {
        postavaU.MagUtokyId = 1;
        magUtok.MagImageUrl = "/images/fireBall60.png";
    }

    void DajFrostNova()
    {
        postavaU.MagUtokyId = 2;
        magUtok.MagImageUrl = "/images/frostNova60.png";
    }

    void DajWindSlash()
    {
        postavaU.MagUtokyId = 3;
        magUtok.MagImageUrl = "/images/windSlash60.png";
    }

    void DajHeal()
    {
        postavaU.VieUtokyId = 1;
        vieUtok.VieImageUrl = "/images/heal60.png";
    }

    void DajDefBonus()
    {
        postavaU.VieUtokyId = 2;
        vieUtok.VieImageUrl = "/images/defBonus60.png";
    }

    void DajAttakeBonus()
    {
        postavaU.VieUtokyId = 3;
        vieUtok.VieImageUrl = "/images/AttakeBonus60.png";
    }

}
